@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Inter:wght@300;400;600&family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
h1 {
    /* Steenachtig, robuust font */
    font-family: 'Bungee Inline', cursive;
}